current: default
profiles:
  default:
    token: AQAAAAA8hhaxAATuwR2OERKT_EWVnv5QhJF2De4
    cloud-id: b1gt0ktruvifsjp56ecd
    folder-id: b1g0os61mu5mgltjb3eh
    compute-default-zone: ru-central1-a
