    CPU<br>
    {{ ansible_processor }}<br>
    --------------<br>
    RAM<br>
    {{ ansible_memory_mb.real.total }}<br>
    ---------------<br>
    ip <br><h1>
    {{ ansible_default_ipv4.address }}</h1><br>
    ---------------<br>
    <a href="http://51.250.33.178:80">BALANCER http server</a>
    ---------------<br>
    <a href="http://158.160.49.53:3000">Grafana server</a>
    ---------------<br>
    <a href="http://158.160.46.208:5601">Kibana server</a>
